/* Navigation bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: powderblue;;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: grey;
    color: white;
}

/* visible pages  */

.visible {
    display: block;
  }
  
  .hidden {
    display: none;
  }